/* StudentMainPage.css */
.section-box {
  background: #ffffff;
  border-radius: 8px;
  
  margin: 20px;
  padding: 20px;
 
}

.section-title {
  color: #333;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
}

.section-list{
  background: #ffffff;
  border-radius: 8px;
  border: 2px black;
  
}
.moreBtn{
  border: none;
  background-color: white;
  color: blue;
  font-size: 20px;
}
.moreBtn:hover{
  border: none;
  background-color: white;
  color: rgb(90, 90, 230);
  font-size: 20px;
}
.arrow{
  color: grey;
}

/* 여기까지 페이지 디자인  */
.welcome-box {
  text-align: left;
  margin-bottom: 40px; /* 환영 메시지와 다른 섹션 간의 간격을 더 크게 조정 */
  font-weight: 900;
  font-size: 40px;
}

.main-container {
  position: relative;
  display: flex; /* Flexbox 레이아웃 적용 */
  flex-direction: row; /* 요소들을 수평 방향으로 나열 */
  align-items: flex-start; /* 세로 방향 정렬 */
  width: 100%;
  max-width: 1200px; /* 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 20px;
  box-sizing: border-box;
  
}

.sidebar-container {
  flex: 0 0 320px; /* Sidebar의 너비 고정 */
  position: absolute;
  
 
}

.content-container {
  flex-grow: 1; /* 콘텐츠 영역이 남은 공간을 모두 차지하도록 설정 */
  padding-left: 20px; /* Sidebar와의 간격 */
}

.control-button {
  position: absolute;
  bottom: 10px; /* 컨테이너 하단에서 10px 위 */
  right: 10px; /* 컨테이너 오른쪽에서 10px 왼쪽 */
}

.under-line {
  cursor: pointer; /* 마우스 오버 시 포인터 모양으로 변경 */
}

.under-line:hover {
  text-decoration: underline; /* 마우스 오버 시 밑줄 표시 */
}

  /* 네비게이션바 */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}

.nav-icon i, .nav-menu i {
  font-size: 24px; /* 아이콘 크기 조정 */
  cursor: pointer;
}

.nav-title {
  font-size: 16px;
  font-weight: bold;
}
